.App {
  text-align: center;
  background-color: #282c34;
  width: 42%;
  height: 20em;
  margin: 5em 22em;
  background-image: url("credit.jpg");
  border-radius: 35px;
}
.Nom {
  color: white;
  margin-left: 20em;
  width: 40%;
  margin-top: 1em;
}
h1 {
  padding-top: 0.5em;
  height: 1em;
}
.ImagePuce {
  width: 5em;
  height: 5em;
  margin-left: 3em;
  margin-bottom: 1em;
}
.Number {
  font-family: "Times New Roman", Times, serif;
  color: #f8dc17;
  font-size: 35px;
  background-color: #54d214;
  font-style: italic;
  opacity: 0.6;
  margin-right: 5em;
}

.Information {
  display: flex;
  justify-content: space-between;
  margin: 0em 2em;
  color: white;
  height: 7em;
  font-size: 8px;
  font-style: normal;
  margin-top: 0.5em;
}
.firstInformation {
  height: 6em;
  width: 7em;
  font-weight: bold;
  font-size: 16px;
  padding-left: 0.5em;
}
.validation {
  display: flex;
  justify-content: space-between;
  padding-top: 0em;
  width: 22em;
}
.date {
  padding: 0em 0 em;
  margin-top: 0em;
  font-weight: bold;
  font-size: 22px;
}
.date1 {
  margin-right: 4em;
  margin-bottom: 0em;
}
.blocValidation {
  display: flex;
  flex-direction: column;
}
.valid {
  display: flex;
  justify-content: space-between;
  width: 11em;
}
.month {
  margin-left: 2em;
}
.name{
  margin-right : 3em;
}
.valid{
  margin-right : 0em;
}
.holder{
  margin-right : 2.5em;
}